body {
    background-image: url("image.png");
    background-size: cover;
    font-family: 'Times New Roman', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.content{
    background: #D6B788;
    max-width: 80%;
    margin: auto;
    border: 3px solid white;
    border-radius: 15px;
    }

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #4E312D;
}

#save-btn {
    background: darkgreen;
}

#save-el{
    font-size: 20px;
}

